---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Sonya Lawrence-Thompson"
  description="About Sonya Lawrence-Thompson"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="Thanks for stopping by. Read below to learn more about me."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Sonya Lawrence-Thompson at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am Sonya "Sunny" Lawrence-Thompson, a dynamic, curious, and
            intrinsically motivated Analyst with a passion for problem-solving,
            strategic planning, and diplomacy. My previous experience in the
            consumer goods, manufacturing, and healthcare industries has allowed
            me to hone in on my systematic thinking skills which I use daily
            when solving business problems.
          </p>
          <br />
          <p>
            As a lifelong learner who seeks carefully crafted solutions to novel
            problems, I am highly skilled in Python, SQL, Database Manipulation,
            Accounting, Microsoft Suite, and Google Suite. My disciplined and
            unrelenting nature coupled with my mental agility fuels my success.
          </p>
          <br />
          <p>
            Favorite quote: "The only thing we have to fear is fear itself" FDR
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p class="sub-section">
            <u> Financial Analyst</u>
            <!-- <h6>(Sep 2022 - Oct 2023)</h6> -->
          </p>
          <b>Jacksonville Orthopaedic Institute</b>
          <ul>
            <li>
              Automated manual company-wide processes using Microsoft Excel and
              Python
            </li>
            <li>
              Collaborated with various departments to develop and produce new
              data management tools
            </li>
            <li>
              Strategically designed key performance indicators (KPI) to guide
              company wide data analysis
            </li>
            <li>
              Implemented budget processes using demand and assumption-based
              analytics, while conducting monthly variance analysis
            </li>
            <li>
              Produced monthly financial dashboards using Microsoft Power BI;
              proactively identifying emerging trends in financial data to drive
              timely action
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Data Quality Analyst</u>
            <!-- <h6>(Nov 2020 - Sep 2022)</h6> -->
          </p>
          <b>FCRD Services</b>
          <ul>
            <li>
              Built and maintained financial models for ROI and Cash flow
              projections as needed.
            </li>
            <li>
              Developed dashboards to measure and monitor the effectiveness of
              products and services.
            </li>
            <li>
              Conducted drill-down analysis to identify recommendations to
              improve outcomes and overall performance improvements.
            </li>
            <li>
              Possessed and maintained a comprehensive understanding and
              knowledge of the industry, products and services, and corporate
              organizational structure.
            </li>
            <li>
              Effectively communicated results of analyses to the management
              team, executive leadership, and greater organization in
              professional reports and presentations.
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Data Science Fellow</u>
            <!-- <h6>(Jan 2022 - Jul 2022)</h6> -->
          </p>
          <b>edX</b>
          <ul>
            <li>
              Demonstrated proficiency in SQL and experience in designing and
              implementing data models, conducting data analysis, and performing
              ELT functions to extract, load, and transform data.
            </li>
            <li>
              Improved skills in using IBM Cognos, Power BI, and various Python
              libraries such as Matplotlib, Pandas, Seaborn, and Plotly to
              visualize reports and generate dashboards.
            </li>
            <li>
              Developed a strong understanding of Machine Learning algorithms
              and models, with experience applying them to real-world problems
              using Python and MySQL in Jupyter Notebook.
            </li>
            <li>
              Demonstrated ability to develop and implement structured
              methodologies to tackle complex data science problems and
              projects.
            </li>
            <li>
              Gained experience in data mining, cleaning, and wrangling, and
              constructing data pipelines to support Machine Learning and other
              analytics use cases.
            </li>
          </ul>
        </div>
        <!-- <div class="content">
          <p class="sub-section">
            <u> Personal goal pursuit</u>
            <h6>(Nov 2020 - Jul 2022)</h6>
          </p>
          <b>edX</b>
          <p>&#x2022; Invested into learning new skills</p>
          <p>
            &#x2022; Freelanced as a Data Quality Analyst for a startup company
            and virtual Instructor for International ESL (English as a Second
            language) lessons for young adults
          </p>
        </div> -->
        <div class="content">
          <p class="sub-section">
            <u> Accountant</u>
            <!-- <h6>(Dec 2019 - Nov 2020)</h6> -->
          </p>
          <b>Indiana Stamp Company</b>
          <ul>
            <li>
              Ensured tax compliance by timely remitting state and federal
              business taxes.
            </li>
            <li>
              Improved efficiency by over 90% by streamlining accounts payable
              procedures and overseeing daily and monthly bank reconciliation
              statements, ensuring accuracy and completeness.
            </li>
            <li>
              Managed the entire data life cycle for customers' personally
              identifiable data using proprietary local software, ensuring
              compliance with data privacy regulations while investigating and
              resolving accounting discrepancies promptly.
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Staff Accountant/Office Manager</u>
            <!-- <h6>(Jul 2016 - Oct 2019)</h6> -->
          </p>
          <b>BTS Plumbing & Heating</b>
          <ul>
            <li>
              Spearheaded company-wide data transformation from hardware to
              software and analyzed complex business problems to identify
              solutions
            </li>
            <li>
              Efficiently inputted customer's personally identifiable data into
              proprietary local software and accurately coded financial data
              using QuickBooks Desktop Pro
            </li>
            <li>
              Managed 50+ daily job schedules using Microsoft Excel aggregate
              functions and followed up with contractors to ensure timely job
              completion
            </li>
            <li>
              Collaborated with a Certified Public Accountant (CPA) to probe
              financial statements for adherence to GAAP
            </li>
            <li>
              Created and managed Microsoft Excel spreadsheets containing
              10,000+ customer job profiles, utilizing Pivot Tables, LOOKUP
              functions, and formulas.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="sub-section">
            <u> Huntington University</u>
          </p>
          <ul>
            <li>Bachelor of Science, Accounting</li>
            <li>Bachelor of Arts, Psychology</li>
            <li>Minor in Management</li>
            <li>Cum Laude</li>
            <li>Activities and societies:</li>
            <ul style="list-style-type: none">
              <li>&#x003E; International Student Council, Treasurer</li>
              <li>&#x003E; Alpha Gamma Pi, President</li>
              <li>&#x003E; Friesen Center, Volunteer</li>
              <!-- <li>&#x003E; Campus Ministries Coordinator</li> -->
            </ul>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> International Open Academy</u>
          </p>
          <ul>
            <li>Certified ESL Instructor</li>
            <ul style="list-style-type: none">
              <li>&#x003E; Teaching English as a Second Language</li>
            </ul>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }
  .sub-section {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
