---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Sonya Lawrence-Thompson"
  description="About Sonya Lawrence-Thompson"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about me."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Sonya Lawrence-Thompson at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am Sonya "Sunny" Lawrence-Thompson, a dynamic, curious, and
            intrinsically motivated Analyst with a passion for problem-solving,
            strategic planning, and diplomacy. My previous experience in the
            consumer goods, manufacturing, and healthcare industries has allowed
            me to hone in on my systematic thinking skills which I use daily
            when solving business problems.
          </p>
          <br />
          <p>
            As a lifelong learner who seeks carefully crafted solutions to novel
            problems, I am highly skilled in Python, SQL, Database Manipulation,
            Accounting, Microsoft Suite, and Google Suite. My disciplined and
            unrelenting nature coupled with my mental agility fuels my success
            and becoming familiar with your story feeds my curiosity. I am open
            to new connections. 👋🏾
          </p>
          <br />
          <p>
            Favorite quote: "The only thing we have to fear is fear itself" FDR
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p class="sub-section">
            <u> Financial Analyst</u>
            <h6>(Sep 2022 - Oct 2023)</h6>
          </p>
          <b>Jacksonville Orthopaedic Institute</b>
          <p>
            &#x2022; Automated manual company-wide processes using Microsoft
            Excel and Python
          </p>
          <p>
            &#x2022; Collaborated with various departments to develop and
            produce new data management tools
          </p>
          <p>
            &#x2022; Strategically designed key performance indicators (KPI) to
            guide company wide data analysis
          </p>
          <p>
            &#x2022; Implemented budget processes using demand and
            assumption-based analytics, while conducting monthly variance
            analysis
          </p>
          <p>
            &#x2022; Produced monthly financial dashboards using Microsoft Power
            BI; proactively identifying emerging trends in financial data to
            drive timely action
          </p>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Data Science Fellow</u>
            <h6>(Jan 2022 - Jul 2022)</h6>
          </p>
          <b>edX</b>
          <p>
            &#x2022; Demonstrated proficiency in SQL and experience in designing
            and implementing data models, conducting data analysis, and
            performing ELT functions to extract, load, and transform data.
          </p>
          <p>
            &#x2022; Improved skills in using IBM Cognos, Power BI, and various
            Python libraries such as Matplotlib, Pandas, Seaborn, and Plotly to
            visualize reports and generate dashboards.
          </p>
          <p>
            &#x2022; Developed a strong understanding of Machine Learning
            algorithms and models, with experience applying them to real-world
            problems using Python and MySQL in Jupyter Notebook.
          </p>
          <p>
            &#x2022; Demonstrated ability to develop and implement structured
            methodologies to tackle complex data science problems and projects.
          </p>
          <p>
            &#x2022; Gained experience in data mining, cleaning, and wrangling,
            and constructing data pipelines to support Machine Learning and
            other analytics use cases.
          </p>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Personal goal pursuit</u>
            <h6>(Nov 2020 - Jul 2022)</h6>
          </p>
          <b>edX</b>
          <p>&#x2022; Invested into learning new skills</p>
          <p>
            &#x2022; Freelanced as a Data Quality Analyst for a startup company
            and virtual Instructor for International ESL (English as a Second
            language) lessons for young adults
          </p>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Accountant</u>
            <h6>(Dec 2019 - Nov 2020)</h6>
          </p>
          <b>Indiana Stamp Company</b>
          <p>
            &#x2022; Ensured tax compliance by timely remitting state and
            federal business taxes.
          </p>
          <p>
            &#x2022; Improved efficiency by over 150% by streamlining accounts
            payable procedures and overseeing daily and monthly bank
            reconciliation statements, ensuring accuracy and completeness.
          </p>
          <p>
            &#x2022; Managed the entire data life cycle for customers'
            personally identifiable data using proprietary local software,
            ensuring compliance with data privacy regulations while
            investigating and resolving accounting discrepancies promptly.
          </p>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Staff Accountant/Office Manager</u>
            <h6>(Jul 2016 - Oct 2019)</h6>
          </p>
          <b>BTS PLUMBING & HEATING</b>
          <p>
            &#x2022; Spearheaded company-wide data transformation from hardware
            to software and analyzed complex business problems to identify
            solutions
          </p>
          <p>
            &#x2022; Efficiently inputted customer's personally identifiable
            data into proprietary local software and accurately coded financial
            data using QuickBooks Desktop Pro
          </p>
          <p>
            &#x2022; Managed 50+ daily job schedules using Microsoft Excel
            aggregate functions and followed up with contractors to ensure
            timely job completion
          </p>
          <p>
            &#x2022; Collaborated with a Certified Public Accountant (CPA) to
            probe financial statements for adherence to GAAP
          </p>
          <p>
            &#x2022; Created and managed Microsoft Excel spreadsheets containing
            10,000+ customer job profiles, utilizing Pivot Tables, LOOKUP
            functions, and formulas.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="sub-section">
            <u> Huntington University</u>
          </p>
          <p>
            &#x2022; Bachelor of Science in Accounting & Bachelor of Arts in
            Psychology
          </p>
          <p>&#x2022; Minor in Business Management</p>
          <p>&#x2022; Activities and societies: Alpha Gamma Pi President,</p>
          <p>&#x2022; Friesen Center Volunteer,</p>
          <p>&#x2022; International Student Council Treasurer,</p>
          <p>&#x2022; Campus Ministries Coordinator</p>
          <p>&#x2022; Activities and societies: Alpha Gamma Pi President,</p>
          <p>&#x2022; Friesen Center Volunteer,</p>
          <p>&#x2022; International Student Council Treasurer,</p>
          <p>&#x2022; Campus Ministries Coordinator</p>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> International Open Academy</u>
          </p>
          <p>
            &#x2022; Teaching English as a Second Language/ESL Language
            Instructor
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }
  .sub-section {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
